html,
body {
  background-color: black;
  font-family: "Libre Franklin";
  color: white;
}

header {
  display: flex;
  justify-content: center;
}

.splashlogo {
  width: 20%;
  height: auto;
}

.imdbimg {
  width: 100px;
}

h1 {
  /* font-family: "Righteous", sans-serif; */
  text-align: center;
  font-size: 3rem;
}

.streamImg {
  border-radius: 20%;
  padding: 10px;
}

.appTitle {
  text-align: center;
  margin: 0px auto;
  display: block;
  font-size: 80px;
}

#genreForm,
.playBtn {
  text-align: center;
  margin: 0px auto;
  display: block;
  font-family: "Libre Franklin";
}

.movieInfo {
  width: 65%;
  margin: 32px auto;
}

.movieInfo:after {
  content: "";
  display: table;
  clear: both;
}

.moviePoster,
.movieDetails {
  width: 50%;
  float: left;
  border-radius: 10px;
}

img.moviePoster {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  animation: fadeIn 2s;
}

.movieDetails {
  color: #fefbea;
  line-height: 1.25;
  animation: fadeIn 2s;
}

.movieTitle,
#movieOverview,
.relDate {
  margin-left: 32px;
  animation: fadeIn 2s;
  text-align: center;
  font-family: "Libre Franklin";
}

p {
  text-align: center;
}

.imdb,
.trailer {
  margin-left: 32px;
  animation: fadeIn 2s;
  display: flex;
  justify-content: center;
}

.streamingplatforms {
  padding: 32px;
  display: flex;
  margin-left: 30px;
  animation: fadeIn 2s;
}

.playBtn {
  margin-top: 20px;
  font-size: 2rem;
  padding: 7px 10px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #020202;
  cursor: pointer;
  border: 2px #ffffff;
  border-color: white;
  font-family: "Righteous";
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.tmdb {
  height: 5%;
  width: 5%;
  position: fixed;
  right: 5px;
  bottom: 0;
}

.loader {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #ffffff 50%, #ff5c35 100%);
  animation: spin 1s linear infinite;
}

.inner-circle {
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  display: block;
  font-size: 35px;
  margin-bottom: 5px;
}

select {
  width: 200px;
  height: auto;
  background-color: black;
  color: white;
  font-size: 1.25rem;
}

.hidden {
  display: none;
}

.streamList {
  display: flex;
  gap: 10%;
  list-style-type: none;
  animation: fadeIn 2s;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="moviePoster"] {
    float: none;
    width: auto;
  }
  .movieDetails {
    width: 90%;
  }
  .trailer {
    display: flex;
  }
  .splashlogo {
    width: 100%;
    height: auto;
  }
  .trailer,
  .imdb,
  .streamingplatforms,
  .streamList,
  #movieOverview,
  .movieTitle,
  .relDate {
    margin-left: 0;
    display: flex;
    justify-content: center;
    padding-left: 0;
    text-align: center;
  }
  h1 {
    font-size: 2rem;
  }
}
