html,
body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

header {
  display: flex;
  justify-content: center;
}

.splashlogo {
  width: 20%;
  height: auto;
}

.imdbimg {
  width: 100px;
}

h1 {
  /* font-family: "Righteous", sans-serif; */
  text-align: center;
  font-size: 4rem;
}

.streamImg {
  border-radius: 20%;
  padding: 10px;
}

.appTitle {
  text-align: center;
  margin: 0px auto;
  display: block;
  font-family: "Staatliches", sans-serif;
  font-size: 80px;
}

#genreForm,
.playBtn {
  text-align: center;
  margin: 0px auto;
  display: block;
  font-family: "Fredoka One", sans-serif;
}

.movieInfo {
  width: 65%;
  margin: 32px auto;
}

.movieInfo:after {
  content: "";
  display: table;
  clear: both;
}

.moviePoster,
.movieDetails {
  width: 50%;
  float: left;
  border-radius: 10px;
}

img.moviePoster {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  animation: fadeIn 5s;
}

.movieDetails {
  font-family: "Questrial";
  color: #fefbea;
  line-height: 1.25;
  animation: fadeIn 5s;
}

.movieTitle,
#movieOverview,
.relDate {
  margin-left: 32px;
  animation: fadeIn 5s;
}

.imdb,
.trailer {
  margin-left: 32px;
  animation: fadeIn 5s;
}

.streamingplatforms {
  padding: 32px;
  display: flex;
  margin-left: 30px;
  animation: fadeIn 5s;
}

.playBtn {
  margin-top: 20px;
  font-size: 2rem;
  padding: 7px 10px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #020202;
  cursor: pointer;
  border: 2px #ffffff;
  border-color: white;
  font-family: "Righteous";
}

label {
  display: block;
  font-size: 35px;
  margin-bottom: 5px;
}

select {
  width: 200px;
  height: auto;
  background-color: black;
  color: white;
  font-size: 1.25rem;
}

.streamList {
  display: flex;
  gap: 10%;
  list-style-type: none;
  animation: fadeIn 5s;
  overflow: scroll;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="moviePoster"] {
    float: none;
    width: auto;
  }
  .movieDetails {
    width: 90%;
  }
  .trailer {
    display: flex;
  }
  .splashlogo {
    width: 100%;
    height: auto;
  }
}
